.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;

}

.card {
  margin: 1rem;
  border-color: black;

}

.card2 {
  margin-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
}

#Capa_2 {
  width: 2rem;
}

.btn {
  border-radius: 20px;
  margin-top: 1rem;
  
}

span {
  margin-bottom: 1rem;
  text-align: center;
}

p{
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: small;
  
}

a{
  display: block;
  padding-top: 1rem;
  text-decoration: none;
  color: #1296AB;
}

a:hover{
  text-decoration: underline;
  color: red;
}

#Capa_1{
  width: 1.5rem;
  margin-bottom: 0.5rem;
}

#Capa_1:hover{
  cursor: pointer;
}