.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;

}

.card {
  margin: 1rem;
  border-color: black;

}

.card2 {
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid gray;
  border-radius: 10px;
}

#Capa_1 {
  width: 2rem;
}

.btn {
  border-radius: 20px;
}

span {
  margin-bottom: 1rem;
  text-align: center;
}